<!DOCTYPE html>
<html>
	<head>
		{{! Document Settings }}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		{{! Page Meta }}
		<title>{{meta_title}}</title>
		<meta name="description" content="罗罗磊磊,前端工程师,技术不宅,独立博客,间隔年践行者,敲得了代码,下得了厨房,骑行过西藏,跑过马拉松，挺能折腾的一个人。" />
        <meta name="keywords" content="前端开发,独立博客,HTML,CSS,JavaScript,骑行,马拉松">
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
		<link rel="author" type="text/plain" href="humans.txt" />
		<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
		{{! 添加 gogole puls 信息 请修改成自己的地址}}
		<link rel="author" href="https://plus.google.com/105790146178074084423/">
		{{! Styles'n'Scripts }}
		<link rel="stylesheet" type="text/css" href="{{asset "/css/min.style.css"}}" />
		<link href='http://fonts.googleapis.com/css?family=Exo:100,400' rel='stylesheet' type='text/css'>
        <!--[if lte IE 8]>
            为了你的浏览体验，请升级您的IE或者使用其他高级浏览器。
        <![endif]-->

		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		{{{body}}}

		<footer class="site-footer">
		<div class="feed-sub">
			<a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">{{!-- 订阅 --}}</span></a>
			<i class="iconfont icon-feed">&#xe751;</i>
		</div>
		<div class="inner">
			<section class="copyright"><a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
			<section>
			Designed by <a href="http://luolei.org">@罗磊</a>
			from <a href="http://this.is26.com">[THIS.IS26.COM] 二十六號工作室</a>
			</section>
			<section class="poweredby">本博客基于拽酷炫的 <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
		</div>
		</footer>

		{{! Ghost outputs important scripts and data with this tag }}
		{{ghost_foot}}
        {{!-- 转场动画 --}}
		{{! The main JavaScript file for Casper }}
		<script type="text/javascript" src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/jquery.stellar.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/min.v.js"}}"></script>
		{{!-- 增加谷歌统计 --}}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-21856187-2', 'luolei.org');
            ga('require', 'displayfeatures');
			ga('send', 'pageview');

		</script>
	</body>
</html>
