<!DOCTYPE html>
<html>
	<head>
		{{! Document Settings }}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		{{! Page Meta }}
		<title>{{meta_title}}</title>
		<meta name="description" content="罗罗磊磊,前端工程师,技术不宅,独立博客,间隔年践行者,敲得了代码,下得了厨房,骑行过西藏,跑过马拉松，挺能折腾的一个人。" />
        <meta name="keywords" content="前端开发,独立博客,HTML,CSS,JavaScript,骑行,马拉松">
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
		<link rel="author" type="text/plain" href="humans.txt" />
		<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
		{{! 添加 gogole puls 信息 请修改成自己的地址}}
		<link rel="author" href="https://plus.google.com/106845917250639895760">
		{{! Styles'n'Scripts }}
		<link rel="stylesheet" type="text/css" href="{{asset "/css/min.style.css"}}" />
		<link href='https://fonts.googleapis.com/css?family=Exo:100,400' rel='stylesheet' type='text/css'>
        <!--[if lte IE 8]>
            为了你的浏览体验，请升级您的IE或者使用其他高级浏览器。
        <![endif]-->

		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		{{{body}}}

		<footer class="site-footer">
		<div class="feed-sub">
			<a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">{{!-- 订阅 --}}</span></a>
			<i class="iconfont icon-feed">&#xe751;</i>
		</div>
		<div class="inner">
			<section class="copyright"><a href="{{@blog.url}}/">MAPINGCHUAN</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
			<section>
			Designed by <a href="http://luolei.org">@罗磊</a>
			from <a href="http://this.is26.com">[THIS.IS26.COM] 二十六號工作室</a>
			</section>
			<section class="poweredby">本博客基于<a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
		</div>
		</footer>

		{{! Ghost outputs important scripts and data with this tag }}
		{{ghost_foot}}
        {{!-- 转场动画 --}}
		{{! The main JavaScript file for Casper }}
		<script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/aplayer/1.6.0/APlayer.min.js"></script>
		<script>
			$(document).ready(function(){
				if(document.getElementById('player')){
					let lrc = (document.getElementsByClassName('aplayer-lrc-content')) ? 2:0;
					let config = {
						element: document.getElementById('player'),
						narrow: false,
						autoplay: false,
						showlrc: lrc,
						mutex: true,
						theme: '#e6d0b2',
						preload: 'metadata',
						mode: 'circulation',
						music: {
							title: $("#player").attr("title"),
							author: $("#player").attr("author"),
							url: $("#player").attr("url") + ".mp3",
							pic: $("#player").attr("url") + ".jpg"//,
							//lrc: "/lrc/" + $("#player").attr("author") + " - " + $("#player").attr("title") + ".lrc"
						}
					}
					var ap1 = new APlayer(config);
				}
			});
		</script>
		<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/jquery.stellar.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/min.v.js"}}"></script>
	</body>
</html>
