{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<nav class="top-bar"></nav>
<header class="banner">
        <div class="site-head-content inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
           {{!--  <h2 class="blog-description">{{@blog.description}}</h2> --}}
        </div>
</header>

{{! The main content area on the homepage }}
<main id="container" class="content homepage" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="post-in-list {{post_class}}">
        <section class="post-excerpt">
            {{content words="0"}}
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <div class="excerpt-word hidden">
            {{excerpt}}
            </div>
        </section>
            <div class="post-meta">
            <span class="post-time"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
            <span class="post-tags">
             {{tags prefix="" separator=" "}}
            </span>
            </div>
{{!--         <div class="readmore-btn">
            <a class="btn" href="{{{url}}}" rel="bookmark">阅读更多</a>
        </div> --}}
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}


</main>

{{pagination}}
