{{!< default}}
{{!-- 顶部图片x --}}
<div id="post-header" class="site-head regular" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}  data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
<div class="post-header-mask"></div>
<div class="post-cover-info">
{{#post}}
<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
<h2 class="post-publish-time">{{date format="MMMM DD, YYYY"}}</h2>
<h2 class="post-tags">{{tags prefix="" separator=" | "}}</h2>
{{/post}}
</div>
<div class="cover-slide-more">
<h4>继续阅读</h4>
<div class="story-cover-arrow shining"></div>
</div>
</div>
	<main class="content single-post" role="main">

	<article class="{{post_class}}">

{{#post}}

<section class="post-content">
<div class="single-post-inner">
{{content}}
</div>
<section class="share">
<h4>分享一下</h4>
<div class="share-icons">
<a class="icon-share" href="http://service.weibo.com/share/share.php?url={{url absolute="true"}}&title={{encode title}}"
onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
<span class=""><i class="iconfont icon-weibo">&#x3432;</i></span>
</a>

<a class="icon-share" href=" http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?desc={{encode title}}&url={{url absolute="true"}}"
onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
<span class=""><i class="iconfont icon-qzone">&#xe60d;</i></span>
</a>
<a class="icon-share" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
<span class=""><i class="iconfont  icon-twitter">&#xe763;</i></span>
</a>
<a class="icon-share" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
<span class=""><i class="iconfont  icon-facebook">&#x3433;</i></span>
</a>
<a class="icon-share icon-weibo" href="https://plus.google.com/share?url={{url absolute="true"}}"
onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
<span class=""><i class="iconfont  icon-weixin">&#x3436;</i></span>
</a>
</div>
</section>
<img id="imgSinaShare" class="img_sina_share" title="将选中内容分享到新浪微博" src="http://simg.sinajs.cn/blog7style/images/common/share.gif" />

<section class="author">
{{#if author.image}}
<a href="{{author.website}}" class="post-author-avatar">
<img src="{{author.image}}" alt="{{author.name}}">
</a>
{{/if}}

<h4>{{author.name}}</h4>
<p>{{author.bio}}</p>
</section>

</section>

<section class="comment-area">
<div class="ds-thread"></div>
</section>

<footer class="post-footer">



</footer>

{{/post}}

</article>

</main>

<!-- Duoshuo Comment BEGIN -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"luolei"};
(function() {
 var ds = document.createElement('script');
 ds.type = 'text/javascript';ds.async = true;
 ds.src = 'http://static.duoshuo.com/embed.js';
 ds.charset = 'UTF-8';
 (document.getElementsByTagName('head')[0]
  || document.getElementsByTagName('body')[0]).appendChild(ds);
 })();



</script>
<!-- Duoshuo Comment END -->
