{{!< default}}
{{!-- 顶部图片x --}}
<div id="post-header" class="site-head regular" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}  data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
<div class="post-header-mask"></div>
<div class="post-cover-info">
{{#post}}
<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
<h2 class="post-publish-time">{{date format="MMMM DD, YYYY"}}</h2>
<h2 class="post-tags">{{tags prefix="" separator=" | "}}</h2>
{{/post}}
</div>
<div class="cover-slide-more">
<h4>继续阅读</h4>
<div class="story-cover-arrow shining"></div>
</div>
</div>
	<main class="content single-post" role="main">

	<article class="{{post_class}}">

{{#post}}

<section class="post-content">
<div class="single-post-inner">
{{content}}
</div>
<section class="author">
{{#if author.image}}
<a href="{{author.website}}" class="post-author-avatar">
<img src="{{author.image}}" alt="{{author.name}}">
</a>
{{/if}}

<h4>{{author.name}}</h4>
<p>{{author.bio}}</p>
</section>

</section>

<section class="comment-area">
<div class="ds-thread"></div>
</section>

<footer class="post-footer">



</footer>

{{/post}}

</article>
</main>
